.clear-box
{
	clear:both;
	overflow: hidden;
}
#topback
{
	margin: 0 0 -75px 0;
	background-image: url(imgs/header_bg.png) ;
	height: 100px;
    width: 100%;
}
header
{
	 height: 65px;
	width: auto !important;
}
header form 
{
	float:left;
	margin-right:10px;
}
#list
{
	direction:rtl;
}
#list ul 
{
	list-style:none;
	margin-top:30px;
	width:100%;
}
#list ul li
{
	float:right;
	padding-right: 2%;
}
#list ul a
{
	text-decoration:none;
	font-weight:bold;
	color:white;
}
#list ul a:hover
{
	color:blue;
	text-decoration:underline;
}
#list ul ul
{
	display:none;
	position: absolute;
	background-image: url(imgs/menu_dropdown_bg.png);
	padding:0;
	width: 12%;
    margin-top: 0;
}
#list ul li:hover > ul
{
	display: list-item;
}
#list ul li li
{
	float:none;
	dosblay:inline-block;
	padding:10px 0 0 0;
}
#list ul li li:hover
{
	background-color: #c0c1c0;
}
#logo 
{
	background-image: url(imgs/paz_logo.png);
	float:right;
	height: 85px;
    width: 135px;
    margin-top: -43px;
}
.content
{
	margin-top: 40px;
}
.content div
{
	
    margin-left: 5%;
    float: right;
    width: 30%;
    height: 354px;
}
.content div div
{
	width:100%;
}
.content p
{
	margin:0;
	color: white;
	padding-top:4px;
	padding-right:4px;
	font-size:14px;
}
.content p:last-child
{
	float:left;
	margin-left: 5px;
}
.content p a
{
	color:white;
}
.content p a:hover
{
	color:blue;
}
.h1
{
	font-size:16px !important;
	font-weight:bold;
}
#back1
{
	background-image:url(imgs/1908364606615453350.JPG);
}
#back1 div
{
	margin-right: 2%;
	margin-top: 250px;
	direction:rtl;
	height: 97px;
    width: 92% !important;
	background-image:url(imgs/hp_tab_text_bg.png);
}
#back2
{
	background-image:url(imgs/Picture-046410251500.jpg);
}

#back2 div
{
	margin-right: 2%;
	margin-top: 250px;
	direction:rtl;
	height: 97px;
    width: 92% !important;
	background-image:url(imgs/hp_tab_text_bg.png);
}

#back3
{
	margin-left:0;
	background-image:url(imgs/lasts.jpg);
}
#back3 div
{
	margin-right: 2%;
	margin-top: 250px;
	direction:rtl;
	height: 97px;
    width: 92% !important;
	background-image:url(imgs/hp_tab_text_bg.png);
}

.sub
{
	margin-top: 40px;
    margin-left: 2%;
  
    
   
}
.sub1
{
	background-image:url(imgs/small_cube_bg.png);
	height: 216px;
    width: 32%;
    float: right;
    margin-top: 50px;
    margin-left: 1%;
	 
}

.sub1 div:first-child
{
	margin-bottom: 20px;
    padding-top: 10px;
    direction: rtl;
}

.sub1 div:nth-child(2)
{
	    margin-left: 4%;
}
.sub1 div:last-child
{
	margin-top:20px;
	margin-left:10%;
}

#sub2
{
		background-image:url(imgs/small_cube_bg.png);
	height: 216px;
    width: 32%;
    float: right;
    margin-top: 50px;
    margin-left: 1%;
	 
}


#sub2 div:first-child
{
	margin-bottom: 20px;
    padding-top: 10px;
    direction: rtl;
}
#sub2 div:nth-child(2)
{
	float:right;
	
}
#sub2 ul
{
	list-style: none;
	    margin-right: 20px;
}

footer
{
	margin-top:50px;
	background-color:url(imgs/footer_bg.png);
	
}
footer ul
{
	list-style: none;
}
footer ul li
{
	float: right;
	margin-right:0.65%;
	 margin-top: 100px;
}
#mccanna
{
	float:left !important;
}
footer ul a
{
	color:white;
}
footer ul a:hover
{
	color:blue;
}
#bottomback
{
	background-image: url(imgs/footer_bg.png);
	height: 38px;
    width: 100%;
    margin-top: -40px;
}

@media only screen and (max-width: 600px)
{
	#list ul
	{
		display:none !important;
	}

}
